#root {
  width: 380px;
  height: 520px;
  margin: 0 auto;
  text-align: center;
}

#header {
  width: 380px;
  height: 80px;
}

#header-title {
  width: 240px;
  height: 80px;
  font-size: 50px;
  border: solid black;
  border-width: 2px 0px 2px 2px;
  float: left;
}

#header-title span {
  padding-top: 10px;
  padding-bottom: auto;
}

#header-image {
  width: 140px;
  height: 80px;
  border: solid black;
  border-width: 2px 2px 2px 0px;
  float: left;
  
}

#header-image img{
  margin: 10px;
}

#play{
  width: 220px;
  height: 420px;
}

.pixel{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  float: left;
}

div ul{
  width: 260px;
}
